.bts-site {
  background-color: #88f24f;
  color: #10073d;
  display: flex;
  flex-direction: column;
  font-family: 'Maiden Orange', cursive;
  font-size: 1.5rem;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  width: 100vw;
}

.bts-page {
  display: flex;
  flex: 1;
  font-family: 'Stylish', sans-serif;
  height: 80vh;
  justify-content: center;
}

.bts-details {
  background-color: #efefef;
  border: 2px solid #10073d;
  border-radius: 8px;
  max-height: 45vh;
  min-height: 10vh;
  padding: 1rem;
  overflow-y: auto;
}

.bts-page-element {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  width: 95vw;
}

.bts-button {
  background-color: #10073d;
  color: #88f24f;
  border-radius: 1rem;
  font-family: 'Stylish', sans-serif;
  font-size: 1.5rem;
  margin: 1rem;
  max-height: 5vh;
  max-width: 38vw;
  min-height: 5vh;
}

.bts-button:disabled, .bts-button[disabled] {
  background-color: #4e4d53;
}

.bts-page-element:not(:last-child) {
  border-bottom: 1px dashed #10073d;
  padding-bottom: 2rem;
}

#bts-source-alert {
  background-color: #ebdddd;
  border-top: 3px solid #10073d;
  border-bottom: 3px solid #10073d;
  font-size: 2rem;
  font-weight: bolder;
  justify-content: center;
  margin-top: 0;
  padding: 0.5rem;
  vertical-align: middle;
}

.page-flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.bts-form {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
}

.bts-form input {
  font-weight: 900;
  height: 1.5rem;
  width: 60vw;
}
