@media only screen and (min-width: 500px) {
  .bts-form input {
    width: 75vw;
  }
}

@media only screen and (min-width: 800px) {
  .bts-form input {
    width: 80vw;
  }
  .footer-flex-container {
    font-size: 1.5rem;
  }
  .page-flex-container {
    margin: 1rem 5rem 1rem 5rem;
    width: 50vw;
  }
}

@media only screen and (min-width: 1000px) {
  .bts-form input {
    width: 85vw;
  }
}
@media only screen and (min-width: 1330px) {
  .bts-form input {
    width: 88vw;
  }
}

@media only screen and (min-width: 1660px) {
  .bts-form input {
    width: 92vw;
  }
}
